  @font-face {
    font-family: OCRA;
    src: url('https://www.big-loser.site/Caso/OCRA Alt.otf') format('woff2');
    font-display: swap
  }
  
  * {
    box-sizing: border-box;
    font-family: 'OCRA', monospace;
  }
  
  html,
  body {
    margin: 0;
    background: url('https://raw.githubusercontent.com/3asyice/Avoid_Death/main/img/images-3.jpeg');
    background-size: 350px;
  }
  
  header {
    background: #33333391;
    padding: 65px;
  }
  
  header h1 {
    color: #95AC92;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000;
    text-align: center;
  }
  
  .incident {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    overflow: auto;
    background: #FFF4F2;
    padding-top: 14%;
    display: none;
    padding-bottom: 14%;
  }
  
  h2 {
    color: #ff4e36;
    text-shadow: 1px 1px 0 #ff4e36;
    background: #FFF4F29E;
    font-size: 15px;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  span.red {
    color: #c70000;
    text-shadow: 1px 1px 0 #c70000;
  }
  
  span.green {
    color: #236925;
    text-shadow: 1px 1px 0 #236925;
  }
  
  p {
    color: #005689;
    text-shadow: 1px 1px 0 #005689;
    text-align: left;
    line-height: 20px;
    margin-left: 7%;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 7%;
  }
  
  p.black {
    color: #121212;
    text-shadow: 1px 1px 0 #121212;
    line-height: 20px;
    margin-left: 7%;
    font-size: 14px;
    margin-right: 7%;
    flex-wrap: wrap;
  }
  
  p.red {
    color: #ab0613;
    text-shadow: 1px 1px 0 #ab0613;
    line-height: 20px;
    margin-left: 7%;
    font-size: 14px;
    margin-right: 7%;
    flex-wrap: wrap;
  }
  
  p.green {
    color: #236925;
    text-shadow: 1px 1px 0 #236925;
    line-height: 20px;
    margin-left: 7%;
    font-size: 14px;
    margin-right: 7%;
    flex-wrap: wrap;
  }
  
  div.side_side {
    display: flex;
    width: 100%;
  }
  
  .btn_txt {
    background: none;
    border: none;
    display:inline;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    margin-right:0;
    text-shadow: 1px 1px 0 #77DAD5;
    color:#77DAD5;
  }
  .btn_txt:hover{
    text-shadow: 1px 1px 0 #BD132D;
    color:#BD132D;
  }
  div.case{
    margin:14%;
    border-radius:0 0 15px 15px;
    border-right:1px solid gray;
    border-left:1px solid gray;
    padding-top:20px;
    padding-bottom:20px;
    background:#324049;
  }
  p.article{
    text-shadow: 1px 0 0 #92AD82;
    color:#92AD82;
  }
  div.case legend{
    color:#B5BAB4;
    font-size: 18px;
    text-align:left;
    font-style:italic;
  }
  span.first__letter{
    text-align: left;
    line-height:1;
    font-size:3rem;
    font-weight:800;
    float:left;
  }
  
  fieldset{
    border-radius:0 0 15px 15px;
    border:2px solid #D6D8D5;
  }
